body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  color: #8F8F8F;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color: #FF4C68;
  color: #FFF;
}

.white-section {
  background-color: #FFF;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.title-img-div {
  position: relative;
}

/* Features Section */

#features {
  padding: 7% 15%;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

/* Testimonial Section */

#testimonials {
  background-color: #EF8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card {
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Media Query */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* CTA */

#cta {
  padding: 3% 4%;
}

.download-button {
  margin: 3% 1% 2%;
}

/* Footer */

#footer {
  padding: 5% 15%;
  font-weight: 500;
}

.icons {
  margin-bottom: 3%;
}

.twitter-icon {
  padding: 1%;
}

.facebook-icon {
  padding: 1%;
}

.instagram-icon {
  padding: 1%;
}

.email-icon {
  padding: 1%;
}
